.custom-select {
    z-index: 2;
}

.custom-select-from {
    z-index: 3;
}

.btn-extend {
    display: block;
    width: 100%;
}

.drop-down-error {
    border: 1px solid #F44336 !important;
}

.amount-error {
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}

br.mobile-only {
    display: none;
}

/* Navbar */
@media only screen and (max-width: 500px) {
    .nav-bar {
        height: 80px;
        line-height: 33px;
    }

    .nav-bar .nav-wrapper .brand-logo {
        margin-top: 5px;
    }

    br.mobile-only {
        display: inline;
    }
}